body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.game-board {
  backdrop-filter: blur(4px);
  width: min-content;
  display: grid;
  grid-gap: 6px;
  background-color: white;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
}

.pieces-board {
  width: fit-content;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}

.inner-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 100;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  transition: background-color 150ms;
}

.bg-green {
  background-color: rgb(134, 243, 134);
}
.bg-yellow {
  background-color: rgb(243, 236, 134);
}

.x {
  background-color: rgb(255, 200, 200);
}

/* .x-active:hover {
  background-image: url('img\\X-dark.png') !important;
  background-blend-mode: overlay;
  } */

.o {
  background-color: rgb(200, 200, 255);
  /* background-image: url('img\\O-dark.png'); */
}

/* .o-active:hover {
  background-image: url('img\\O-dark.png') !important;
  background-blend-mode: overlay;
} */

.active {
  cursor: pointer;
}
.game-board .active:hover {
  background-color: #f5f5f5;
}

.occupied {
  pointer-events: none !important;
}

.game-piece.active,
circle {
  /* -webkit-transition : -webkit-filter 500ms linear; */
  transition:
    transform 150ms,
    filter 150ms;
  overflow: visible;
}
.game-piece.active:hover {
  transform: translate(0, -4px);
  cursor: pointer;
}
.game-piece.active:hover circle {
  filter: drop-shadow(0 5px 1px rgba(0, 0, 0, 0.2));
}
